---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}

    2.4 In 1947, Lifta was home to 2,550 Palestinians and just one town of 417 soon to be erased during Nakba, a process of erasure that extends to today. Lifta had a mosque, an elementary school, two cafes and several shops. Remnants of these buildings and around four hundred homes remain, many with crater-sized holes in the roof to ensure the buildings are inhabitable. Today, Lifta is the only standing Palestinian village within the pre-1948 borders not entirely demolished or planted over—for now.

2.5 Sari Nasir, born in Lifta in 1938, writes that her family left,
…most of the things, except for the key. I remember that my mother wouldn’t leave, we had to force her. She cried, I remember her tears. And I remember she said: ‘please, let me close the doors’. They told her that we would only go away for a couple of days, that we would come back. I have childhood memories of fleeing to the other side of Jerusalem.

Resources:
Nazmi Jubeh, Rana Barakat, Khaldun Bshara, Yacoub Odeh, Lifta: Register of a People, History, Cultural Heritage, and Struggle (2020 :مؤسسة الدراسات الفلسطينية), https://www.palestine-studies.org/en/node/1651173.

Daphna Golan, Zvika Orr, Sami Ershied, " Lifta and the Regime of Forgetting: Memory Work and Conservation," Jerusalem Quarterly 54 (Summer 2013), https://www.palestine-studies.org/en/node/137334.

Rema Hammami, Rula Halawani, " Lifta: The Cipher of the Landscape - A Photographic Essay," Jerusalem Quarterly 37 (Spring 2009), https://www.palestine-studies.org/en/node/78272.

"Lifta," Palestine Remembers, https://www.palestineremembered.com/Jerusalem/Lifta/index.html

For recent news, see:
"Return to Lifta," Mondoweiss (16 August 2021), https://mondoweiss.net/2021/08/return-to-lifta/

"‘We will return’: the battle to save an ancient Palestinian village from demolition," The Guardian (28 July 2021), https://www.theguardian.com/world/2021/jul/28/we-will-return-the-battle-to-save-an-ancient-palestinian-village-from-demolition

"Saving Lifta: Palestinians rally against latest threat to depopulated Jerusalem village," Middle East Eye (13 June 2021), https://www.middleeasteye.net/news/palestine-israel-lifta-jerusalem-village-nakba-under-threat

    {% include index/carousel.html title="Sample Items" height="300" %}

  </div>
  <div class="col-md-4">

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
